<article class="post">
	<div class="row">
		<header class="post-header">
			<div class="col s12 post-meta">
				{% include post-meta.html type="blog" teaser="" %}
			</div>
		</header>
	</div>
	<div class="row">
		<div class="col s12 m8 l10">
			<div>
			{{ post.teaser }}
			</div>
			<div>
			<a class="read-more" href="{{post.url}}">Mehr Lesen</a>
			</div>
		</div>

		{% if post.media.size > 0 %}
		<div class="col s6 m4 l2 ">
			{% assign post_media = post.media | first %}
			{% include media.html nocaption=true %}
		</div>
		{% endif %}
	</div>
	<div class="right">
		<a title="Read More" style="margin:5px" href="{{post.url}}"><i
				class="fas fa-plus-circle"></i></a>
	</div>
</article>
