<article class="post">
	<header class="post-header">
		<div class="post-meta">
			{% include post-meta.html type="document" %}
		</div>
	</header>
	<div class="row post-content">
		{{ post.content }}
	</div>
	<div class="section">
		<div class="row">
			{% for post_media in post.media %}
			<div class="col s6 m4 l3">
				{% include media.html %}
			</div>
			{% endfor %}
		</div>
		{% if post.docs.size > 0 %}
		<div class="row">
			<ul class="collection">
			{% for doc_ref in post.docs %}
			<li class="collection-item">
			<a href="{{ doc_ref.file }}">
			{{ doc_ref.desc }}
			</a>
			</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="right">
		<a title="Read More" style="margin:5px" href="{{post.url}}"><i
				class="fas fa-plus-circle"></i></a>
		</div>
	</div>
</article>
<div class="divider">
</div>
