<head>
	<meta charset="utf-8">
	<meta name="description" content="Linksradikales Nachrichtenkollektiv aus dem Raum Würzburg">
	<meta name="author" content="Schwarzlicht Kollektiv">
	<meta name="keywords" content="news,archive">
	<meta name="twitter:site" content="@schwarzlichtwue">
	<meta name="twitter:creator" content="@schwarzlichtwue">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="/img/logo.jpg">
	<meta http-equiv="onion-location" content="http://bdh26dhgojeomvebizfx4hvjei43ewjuz2pnh3gex3pdmvdslmvqhtad.onion" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title != '' || page.title != blank %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link href="/css/fonts.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<script defer="" src="/js/fontawesome_all_v5.7.2.js"></script>
</head>
