<header class="site-header">
	{% include navbar.html %}
	<div class="container">
		<div class="center col s12 hide-on-med-and-up">
			<a href="/">
				<img style="margin-top:1em; width:75%" class="responsive-img" src="/img/title.svg">
			</a>
		</div>
		<div class="row valign-wrapper">
			<div class="col s12 m4 hide-on-small-only">
				<a href="/">
					<img style="margin-top:2em; vertical-align: middle;" class="responsive-img" src="/img/title.svg">
				</a>
			</div>
			<div class="col s12 m8">

				<h1 class="hide-on-small-only">
						NEWSTICKER
						FÜR
						VERANSTALTUNGEN
						&
						MOBILISIERUNGEN
						IM
						RAUM
						WÜRZBURG
				</h1>
				<h3 class="hide-on-med-and-up">
						NEWS&shy;TICKER
						FÜR
						VERAN&shy;STALT&shy;UNGEN
						&
						MO&shy;BI&shy;LI&shy;SIE&shy;RUNG&shy;EN
						IM
						RAUM
						WÜRZ&shy;BURG
				</h3>
				<div class="row">
					<div class="col s12" style="hyphens: auto">
						<p>
						Schwarzlicht Würzburg ist ein Nachrichtenkollektiv mit
						Berichterstattung zu lokalen Veranstaltungen,
						Demonstrationen, Aktionen und politischem Geschehen.
						Auf dieser Website werden zeitlose Artikel präsentiert sowie die
						regelmäßig auf Social-Media-Plattformen
						veröffentlichten Beiträge archiviert.
						</p>
					</div>
					<div class="col s12 m6">
						<p class="left">
					{% include social_media.html %}
						</p>
					</div>
					<div class="col s12 m6">
						<p class="valign">
						<a href="/twitter/" class="z-depth-1 waves-effect sl-red waves-light btn">Zu den Beiträgen <i class="fab fa-twitter"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
