<div class="navbar-fixed">
<nav class="sl-red">
	<div class="nav-wrapper">
		<a href="/" class="logo left" style="break-word: keep-all; hyphens: none;">
					SCHWARZLICHT
				<img class="hide-on-small-only" style="height: 2.1rem;"
					src="/img/logo-white.svg">
		</a>
		<a href="#" data-target="sidenav" class="sidenav-trigger logo-link"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a style="margin-right: 1em;" class="logo-link dropdown-trigger" href="#!"
					data-target="beitraege">
					Beiträge
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
			<li>
				<a style="margin-right: 1em;" class="logo-link dropdown-trigger" href="#!"
					data-target="info">
					Information
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
			<li>
				<a style="margin-right: 1em;" class="logo-link dropdown-trigger" href="#!"
					data-target="uebersicht">
					Politische Überblicke
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
		</ul>
	</div>
</nav>
</div>

<ul class="sidenav" id="sidenav">
	{% include sidenav-menu.html %}
</ul>

<ul class="dropdown-content" id="beitraege">
	<li>
		<a class="dropdown-link" href="/">Blog</a>
	</li>
	<li>
		<a class="dropdown-link" href="/twitter/">Threads</a>
	</li>
	<li>
		<a class="dropdown-link" href="/t/">Themen</a>
	</li>
	<li>
		<a class="dropdown-link" href="/other/documents/">Dokumente</a>
	</li>
	<li>
		<a class="dropdown-link" href="/archive/">Archiv</a>
	</li>
	<li>
		<a class="dropdown-link"
			href="/other/linksunten/">Linksunten-Archiv</a>
	</li>
</ul>

<ul class="dropdown-content" id="info">
	<li>
		<a class="dropdown-link" href="/info/">Wir</a>
	</li>
	<li>
		<a class="dropdown-link" href="/contact/">Kontakt</a>
	</li>
</ul>

<ul class="dropdown-content" id="uebersicht">
	<li>
		<a class="dropdown-link" href="/other/groups/">Gruppen</a>
	</li>
	<li>
		<a class="dropdown-link" href="/other/calendar/">Kalender</a>
	</li>
	<li>
		<a class="dropdown-link" href="/other/lexicon/">Lexikon</a>
	</li>
	<li>
		<a class="dropdown-link" href="/other/demosphere/">Démosphère</a>
	</li>
</ul>
