<div class="row">
	<div id="artikel" class="col s12 m6 xl4 section">
			<div class="overview z-depth-3">
			<div class="col s12">
			<h2>Artikel</h2>
			</div>
			<div class="col s6">
	          <ul class="collection with-header content z-depth-2">
	            <li class="collection-header">
					<h5>Schwarzlicht</h5>
				</li>
	            <li class="collection-item">
					<a href="#blog">
				      <span>Blog</span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/twitter/">
				      <span>
						  Twitter-Threads
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/archive/">
				      <span>
						Thread-Archiv
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/t/">
				      <span>
						Themen
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/other/documents/">
				      <span>
						Dokument-Archiv
					  </span>
					</a>
				</li>
	          </ul>
			</div>
			<div class="col s6">
	          <ul class="collection with-header content z-depth-2">
	            <li class="collection-header">
					<h5>Linksunten</h5>
				</li>
	            <li class="collection-item">
					<a href="/other/linksunten/">
				      <span>
						Beiträge-Archiv
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/other/linksunten/#locations">
				      <span>
						Ortschaften-Archiv
					  </span>
					</a>
				</li>
	          </ul>
			</div>
		</div>
	</div>
	<div id="informationen" class="col s12 m6 xl4 section">
		<div class="overview z-depth-3">
			<div class="col s12">
			<h2>Informationen</h2>
			</div>
			<div class="col s12">
	          <ul class="collection content z-depth-2">
	            <li class="collection-item">
					<a href="/info/#schwarzlicht">
				      <span>
						Zu Schwarzlicht
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/info/#website">
				      <span>
						Zur Website
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/contact/">
				      <span>
						Kontakt
					  </span>
					</a>
				</li>
	          </ul>
			</div>
		</div>
	</div>
	<div id="ueberblicke" class="col s12 m6 xl4 section">
		<div class="overview z-depth-3">
			<div class="col s12">
			<h2>Politische Überblicke</h2>
			</div>
			<div class="col s12">
	          <ul class="collection content z-depth-2">
	            <li class="collection-item">
					<a href="/other/groups/">
				      <span>
						Gruppen in Würzburg
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/other/calendar/">
				      <span>
						Historischer Kalender
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/other/lexicon/">
				      <span>
						Politisches Lexikon
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="/other/demosphere/">
				      <span>
						Démosphère - Veranstaltungskalender
					  </span>
					</a>
				</li>
	          </ul>
			</div>
		</div>
	</div>
	<div id="media" class="col s12 m6 xl4 section">
		<div class="overview z-depth-3">
			<div class="col s12">
			<h2>Social Media</h2>
			</div>
			<div class="col s12">
	          <ul class="collection content z-depth-2">
	            <li class="collection-item">
					<a href="https://twitter.com/schwarzlichtwue">
				      <span>
						Twitter
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="https://facebook.com/schwarzlicht.wue">
				      <span>
						Facebook
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="https://www.instagram.com/schwarzlicht.wue/">
				      <span>
						Instagram
					  </span>
					</a>
				</li>
	            <li class="collection-item">
					<a href="https://masthead.social/@schwarzlicht/">
				      <span>
						Mastodon
					  </span>
					</a>
				</li>
	          </ul>
			</div>
		</div>
	</div>
</div>
