<li>
   <div class="center row">
       <div class="input-field col s12">
           <input type="text" id="autocomplete-input" class="autocomplete">
           <label for="autocomplete-input">Suche</label>
       </div>
   </div>
<li class="divider"></li>
<li><a class="subheader">Artikel</a></li>
<li>
	<a class="sidenav-link" href="/">Blog</a>
</li>
<li>
	<a class="sidenav-link" href="/archive">Blog-Archiv</a>
</li>
<li>
	<a class="sidenav-link" href="/twitter/">Twitter-Threads</a>
</li>
<li>
	<a class="sidenav-link" href="/t/">Themen</a>
</li>
<li>
	<a class="sidenav-link" href="/twitter/archive/">Twitter-Archiv</a>
</li>
<li>
	<a class="sidenav-link" href="/other/documents/">Dokumente-Archiv</a>
</li>
<li>
	<a class="sidenav-link" href="/other/linksunten/">Linksunten-Archiv</a>
</li>
<li class="divider"></li>
<li><a class="subheader">Information</a></li>
<li>
	<a class="sidenav-link" href="/info/">Das Kollektiv</a>
</li>
<li>
	<a class="sidenav-link" href="/contact/">Kontakt</a>
</li>
<li class="divider"></li>
<li><a class="subheader">Politische Überblicke</a></li>
<li>
	<a class="sidenav-link" href="/other/groups/">Würzburger Gruppen</a>
</li>
<li>
	<a class="sidenav-link" href="/other/calendar/">Historischer Kalender</a>
</li>
<li>
	<a class="sidenav-link" href="/other/lexicon/">Lexikon</a>
</li>
<li>
	<a class="sidenav-link" href="/other/demosphere/">Démosphère</a>
</li>
<li style="height:100px;"></li>
