<article class="post">
	<div class="row">
		<header class="post-header">
			<div class="col s12 post-meta">
				{% include post-meta.html type="twitter" teaser="" %}
			</div>
		</header>
	</div>
	<div class="row">
		<div class="col s12 m8 l8">
			<div>
			{{ post.teaser |markdownify }}
			</div>
			<div>
			<a class="read-more" href="{{post.url}}">Mehr Lesen</a>
			</div>
		</div>

		{% if post.media.size > 0 %}
		<div class="col s6 m4 offset-l2 l2">
			{% assign post_media = post.media | first %}
			{% include media.html %}
		</div>
		{% endif %}
	</div>
	<div class="right">
		{% if post.categories contains "twitter" %}
		<a title="Open Thread on Twitter" href="{{ post.ref }}"><i class="fab fa-twitter"></i></a>
		{% endif %}
		<a title="Read More" style="margin:5px" href="{{post.url}}"><i
				class="fas fa-plus-circle"></i></a>
	</div>
</article>
