---
layout: blog
categories: blog
tags: verhütung sterilisation pille kette essure implantfiles feminismus
title: "Verhütung – ungesehene Gewalt"
date: '2020-11-14'
teaser: "<p><b>CN: (sexualisierte und gynäkologische) Gewalt und
  \ Grenzüberschreitungen, Misogynie, Transfeindlichkeit, (ungewollte)
  \ Schwangerschaft, Body Shaming, Ableismus</b></p><p>
  \ Misogynie, Ableismus, Body Shaming, Transfeindlichkeit: viel zu häufig erleben
  \ Personen mit Uterus Grenzüberschreitungen und Gewalt. Auch und teils
  \ insbesondere durch medizinisches Personal, wenn es um das Thema Verhütung geht.
  \ Schmerzen und Nebenwirkungen werden nicht ernst genommen, Bedenken ignoriert
  \ und Selbstbestimmung verweigert. Diese investigative Recherche gibt einen
  \ Einblick in die systematische Marginalisierung und Grenzüberschreitungen, die
  \ Verhütung und Besuche bei Ärzt:innen leider oft mit sich bringen.
  \ </p>"
media:
- file: /media/blog/img/verhuetung.png
---

<div class="row">

	<div class="col s12 m6">
		<p><b>
		CN: (sexualisierte und gynäkologische) Gewalt und Grenzüberschreitungen,
		Misogynie, Transfeindlichkeit, (ungewollte) Schwangerschaft,
		Body Shaming, Ableismus
		</b></p>

		<p><em>

Misogynie, Ableismus, Body Shaming, Transfeindlichkeit: viel zu häufig erleben
Personen mit Uterus Grenzüberschreitungen und Gewalt. Auch und teils
insbesondere durch medizinisches Personal, wenn es um das Thema Verhütung geht.
Schmerzen und Nebenwirkungen werden nicht ernst genommen, Bedenken ignoriert
und Selbstbestimmung verweigert. Diese investigative Recherche gibt einen
Einblick in die systematische Marginalisierung und Grenzüberschreitungen, die
Verhütung und Besuche bei Ärzt:innen leider oft mit sich bringen.


		</em></p>
	</div>

	<div class="col s12 m6">
		<ul class="collapsible">
			<li class="active">
			  <div class="collapsible-header">Inhalt</div>
			  <div class="collapsible-body">
				  <ol>
					  <li><a href="#nebenwirkungen">Nebenwirkungen von Pille und Hormonspirale</a></li>
					  <li><a href="#kupferkette">Probleme mit Kupferkette und -spirale</a></li>
					  <li><a href="#sterilisation">Sterilisation</a></li>
					  <li><a href="#bevormundung">Ärztliche Bevormundung und Grenzüberschreitungen</a></li>
					  <li><a href="#transfeindlichkeit">Transfeindlichkeit</a></li>
					  <li><a href="#implant-files">Implant Files</a></li>
					  <li><a href="#essure">Essure</a></li>
					  <li><a href="#wir">Wir sind nicht allein</a></li>
				  </ol>
			  </div>
			</li>
		</ul>
	</div>
</div>

<div>
	{% include blog-media.html file="/media/blog/img/verhuetung.png"
	fillm="50%"
	desc="Verhütung - die ungesehene Gewalt" %}
</div>

<p>

Stellen wir uns vor, ein cis Mann lässt sich für viel Geld ein
Hormon-Verhütungsstäbchen in seinen Penis schieben. Damit dieses Stäbchen wirkt
und keine Komplikationen verursacht, muss vorher genau ausgemessen und dann ein
passendes Modell ausgewählt werde. Dennoch legen viele Ärzt:innen nur ein oder
zwei Standardmodelle, da diese angeblich immer passen würden. Passt das
Stäbchen nicht oder sitzt es nicht richtig, kann es u.a. Schmerzen und Blutungen
auslösen und verhütet nicht richtig. Seit der Einlage hat der Mann
hormontypische starke Nebenwirkungen wie Dauerblutungen, Schmerzen,
Stimmungsschwankungen und entwickelt eine Depression. Der Arzt weigert sich
jedoch, das Verhütungsstäbchen wieder zu entfernen und behauptet, die Symptome
ständen nicht mit dem Stäbchen in Verbindung, wären wahrscheinlich nur
Einbildung und nicht so wild. Nach drei Monaten ist der Mann so verzweifelt,
dass er sich das Stäbchen betrunken selbst zu ziehen versucht und anschließend
blutend, mit halb gezogenem Verhütungmittel ins Krankenhaus gebracht werden muss.

</p>

<p>

Klingt martialisch und unglaublich? Für einen cis Mann ja. Doch dies ist die
Erfahrung einer cis Frau mit der Hormonspirale. Und
leider ist das absolut kein Einzelfall sondern viel eher Alltag für zahlreiche
Menschen mit Uterus, die versuchen, die Kontrolle über ihre Gebärfähigkeit zu
übernehmen und sich von der obligatorischen Pille abwenden.

</p>

<p>

Beispielsweise berichtete eine Userin in einer geschlossenen Gruppe auf
Facebook, dass sie – nach dem Absetzen der hormonellen Verhütung aufgrund eines
Kinderwunschs – psychische Probleme entwickelte. Als sie dies bei ihrer
Gynäkologin ansprach, meinte diese nur, dass ihre Depressionen schon
verschwinden würden, wenn sie es denn endlich schaffen würde abzunehmen und ihr
„Idealgewicht“ erreicht hätte. Seit mehreren Jahren bin ich Teil verschiedener
geschlossener Gruppen zu den Themen Kupferverhütung und Sterilisation und
seitdem lese ich beinahe täglich Beträge von wütenden oder verzweifelten
Menschen mit Uterus, die von Body shaming, Ableismus und Misogynie ihrer
Ärzt:innen berichten.

</p>

<p>

Im Folgenden werde ich versuchen, anhand zahlreicher Beispiele einen geordneten
Überblick über das Erlebte verschiedener Personen zu geben. So begann ich vor
einigen Monaten eine Recherche zu Verhütung und Gewalt. Zahlreiche Menschen
mit Uterus schrieben mir ihre Erfahrungen. Mit dieser Reportage möchte ich
einen Einblick in die Welt der systematischen Marginalisierung und
Grenzüberschreitungen geben, die Verhütung und Besuche bei Ärzt:innen mit
sich bringen.

</p>

<h3 id="nebenwirkungen">Nebenwirkungen von Pille und Hormonspirale</h3>

<div>
	{% include blog-media.html file="/media/blog/img/verhuetung-pille.png"
	fillm="50%"
	fills="60%"
	noshadow=true
	desc="Blister-Packung der Pille" %}
</div>

<p>

<em>Lisa*</em>, Alter unbekannt, ließ sich auf anraten ihrer Gynäkologin die
Hormonspirale einsetzen. Nach nur drei Monaten litt sie unter so starken
Schmerzen, extremem Haarausfall, einer Gewichtszunahme von 6kg und
Depressionen, dass sie zu ihrer Ärztin ging. Dort wurde sie jedoch nur
ausgelacht. Auch die Arzthelferinnen hätten gemeinsam mit der Ärztin ihre
Beschwerden ins Lächerliche gezogen. Als sie merkten, dass Lisas Anliegen die
Spirale wieder zu ziehen ernst gemeint war, wurde sie rausgeworfen. Sie
wechselte zu einem anderen Arzt, der feststellte, dass die Spirale viel zu groß
für sie war und sie „ein Jahr lang theoretisch mit Dauerwehen rumgelaufen“ sei.
Anschließend legte er ihr eine passende Kupferspirale. Seitdem sind ihre
Beschwerden verschwunden.

</p>

<p>

Eine Userin auf Twitter berichtet, dass sie mit Thrombose ins Krankenhaus
eingeliefert wurde, nachdem zwei männliche Ärzte ihr vorher erklärt hätten, es
„sei eh nix“ und sie solle „nicht so hysterisch“ sein. Einer meinte, sie hätte
eine Gelenkentzündung. Sie machte ihn darauf aufmerksam, dass sie die Pille
nehme und eine Thrombose vermutete und er erwiderte „Sie sind zu jung, das ist
sicher keine Thrombose. Regen sie sich nicht künstlich auf. ICH bin hier der
Arzt.“ Hätte sie nicht hartnäckig darauf bestanden, ihre Beinvene schnallen zu
lassen, wäre sie „vielleicht nicht mehr am Leben“. Einer der Ärzte hätte noch
über sie „abgelästert“, bis der Verschluss auf seinem Schirm aufgetaucht sei.
Nachdem ihr zwei Tage lang nicht geglaubt wurde, wurden plötzlich alle ganz
hektisch, da eine mögliche Folge eine Lungenembolie sei. Anschließend musste
sie „eineinhalb Jahre lang Gerinnungshemmer nehmen, regelmäßig neu einstellen
gehen und die Pille absetzen.“ Jedoch stellte sich im Nachhinein bei einer
anderen Ärztin heraus, dass diese eineinhalb Jahre ebenfalls eine
Fehlbehandlung darstellten: „Um Himmels Willen! Sofort absetzen!“ Eineinhalb
Jahre wären viel zu lang, meinte die Ärztin.

</p>

<p>

Darunter berichtet eine andere Userin, dass sie während der Pille keine
richtige und danach gar keine Menstruation gehabt habe. Ihre Gynäkologin hielt
dies für „normal“, wodurch sehr lange nicht auffiel, dass sie „einen
Prolaktinspiegel über 250 hatte, der eine Amenorrhö ausgelöst hat. Prolaktinom
heißt der kleine Freund in meinem Kopf.“ Der Tumor wurde nur entdeckt, weil ein
Neurologe ein MRT wegen Kopfschmerzen machen wollte.

</p>

<p>

Eine andere Person schrieb, dass sie vier Monate, nachdem sie anfing die Pille
zu nehmen, nach einer „4-Etagen-Thrombose und beidseitiger Lungenembolie 10 Tage
auf der Intensivstation“ gelegen habe. Trotz Krankenwagen und Transport in die
Notaufnahme, hatten es die Ärzt:innen jedoch zunächst auf ihren Kreislauf
geschoben.

</p>

<p>

Die Beispiele zeigen: die Pille ist nicht harmlos! Sogar Ärzt:innen
unterschätzen die Nebenwirkungen und Gefahren. Stattdessen verschreiben sie sie
schon an 14 jährige Mädchen, für schöne Haut und Haare, ohne ordentliche
Aufklärungsgespräche. Dabei stieg das Risiko für Thrombosen mit <a
target="_blank" href="https://www.tk.de/techniker/gesundheit-und-medizin/behandlungen-und-medizin/arzneimittel-medizinische-hintergruende/pille/pille-faq-2066594">jeder neuen
Pillengeneration signifikant an</a>. Dennoch wird die Pille wird als das perfekte und
alternativlose Wundermittel dargestellt. Dementsprechend tief verankert ist
diese Ansicht in der Gesellschaft. Selbstverständlich hat die Pille nicht nur
schlechte Seiten. Ihre Einführung war revolutionär und die Fähigkeit, die eigene
Fruchtbarkeit zu kontrollieren, war ein enorm wichtiger Schritt in der
Emanzipation von Frauen. Auch bei Endometriose und anderen Krankheitsbildern
kann die Pille die Symptome lindern – ganz abgesehen davon, dass sie bei
korrekter Einnahme das sicherste Verhütungsmittel nach einer Sterilisation ist.
Doch die sorglose Einnahme und die gesellschaftliche und ärztliche Verklärung
von hormoneller Verhütung ist gefährlich, kann zu massiven Nebenwirkungen und
Schmerzen und im schlimmsten Fall zum Tod führen. Die Pille wird von Vielen gut
vertragen, aber ebenso von Vielen eben nicht. Beschwerden
und Nebenwirkungen müssen ernst genommen und dürfen nicht heruntergespielt
werden.

</p>

<h3 id="kupferkette">Probleme mit Kupferkette und -spirale</h3>

<div>
	{% include blog-media.html file="/media/blog/img/verhuetung-spirale.png"
	fillm="30%"
	noshadow=true
	desc="Spirale" %}
</div>

<p>

Gerade bei der Kupferspirale sind ein genaues Ausmessen und die Wahl der
passenden Spirale notwendig. Wie bereits am ersten Beispiel beschrieben
kann es sonst zu starken Nebenwirkungen wie Schmerzen, Blutungen und
mangelhafter Verhütung kommen. Dennoch haben viele Ärzt:innen nur ein oder zwei
„Standardmodelle“ auf Lager und legen diese pauschal. Haben die Betroffenen
Menschen mit Uterus anschließend Beschwerden, werden diese einfach abgetan. Oft
werden sie gar zu psychischen Problemen gemacht. Es folgt ein längerer
Leidensweg, bis ein:e Ärzt:in gefunden wird, die korrekt ausmisst und passende
Modelle wählt.

</p>

<p>

Es gibt nicht sonderlich viele Möglichkeiten hormonfrei zu verhüten und Kupfer
ist eine der sichersten Methoden. Doch selbst bei passender Spirale oder der
Kupferkette kann es zu Komplikationen kommen. Einige Menschen mit Uterus
vertragen Kupfer nicht, entwickeln Haarausfall, extrem starke Blutungen oder
haben unerträgliche Schmerzen während ihrer Menstruation. Diese Beschwerden
müssen ernst genommen und nicht nur abgetan werden.

</p>

<h3 id="sterilisation">Sterilisation</h3>

<p>

Während jeder volljährige Mensch mit Penis meist problemlos eine Vasektomie
durchführen lassen kann, wird Menschen mit Uterus diesbezüglich jegliche
Zurechnungsfähigkeit abgesprochen. Frühestens ab 40 mit mindestens drei
Kindern, lautet bei vielen Ärzt:innen die Antwort, „aber schicken Sie doch
ihren Partner her“. Sehr häufig wird nach der Meinung oder gar der Erlaubnis(!) des Partners gefragt - teils sogar nach einer schriftlichen. Auch
Falschbehauptungen werden getätigt. So berichten Frauen beispielsweise davon,
dass ihre Gynäkolog:innen behauptet hätten, dass die Sterilisation (von Frauen)
in Deutschland illegal sei. Andere bezeichnen den Eingriff als „Schandtat“. Der
Wunsch junger kinderloser Menschen mit Uterus, sich sterilisieren zu lassen,
wird meist abgetan, weil sie zu jung seien, das deshalb noch nicht überblicken
und entscheiden könnten. Eine Sterilisation sei eine Entscheidung für‘s Leben,
die junge Personen nicht treffen könnten. Eine Schwangerschaft in jungen
Jahren dagegen gilt für die gleichen Ärzt:innen aber als etwas „Wunderbares“.
Als sei Letzteres nicht auch eine Entscheidung für‘s Leben – mit dem
Unterschied, dass sterilisierte Personen noch adoptieren können. Außerdem
können Sterilisationen – je nach Methode – reversibel sein. Junge Schwangere
werden ihr Kind jedoch nicht so einfach „wieder los“, wenn sie es bereuen. Ein
Kind zu bekommen ist irreversibel und damit noch viel mehr „eine Entscheidung
für‘s Leben“. Die einzige Möglichkeit ist es, zur Adoption freizugeben oder es
von Verwandten aufziehen zu lassen. Hier muss auch das Tabuthema „Regretting
Motherhood“ angesprochen werden, also Mütter, die ihre Kinder lieben, im
Nachhinein aber lieber kinderlos geblieben wären.

</p>

<p>

Für viele Menschen mit Uterus kommt hormonelle Verhütung nicht in Frage weil
sie nicht vertragen wird oder aufgrund von Krankheiten zu gefährlich wäre.
Hormonfreie Verhütung ist oft kostspielig und/oder nicht so sicher und wird
auch nicht immer vertragen. Dennoch ist bei nicht vorhandenem oder bereits
abgeschlossenem Kinderwunsch eine Sterilisation kaum zu bekommen. Ein paar
Beispiele:

</p>

<blockquote>
<p>

<em>Sarah*</em> neigt erblich bedingt zu Depressionen und Thrombose: Mit 15 wurde ihr
die Pille gegen leichte Akne verschrieben. Verhütung wurde für sie jedoch erst
mit 19 relevant, weshalb sie sich die Kupferkette legen lassen wollte. Laut
ihrem Gynäkologen wäre diese aber angeblich in diesem Alter nicht geeignet und
er verschrieb ihr eine andere Pille. Nebenwirkungen seien selten und müssten
nur wegen gewisser Richtlinien in der Packungsbeilage stehen, aber es gäbe
eigentlich keine – wieder auch beim letzten Mal wurde keine Familienanamnese
durchgeführt und stattdessen die Pille verharmlost. Sarah lies sich zwei Mal
die Kette legen, die jedoch beide Male wieder herausfiel und die Spirale
verrutschte. Daraufhin wurden ihr Hormone als einzige Möglichkeit präsentiert,
obwohl sie mehrfach betont hatte, dass sie auf Grund der familiären
Krankheitsgeschichte auf keinen Fall Hormone nehmen möchte. Dennoch drückte er
ihr einen Probe-Pillenblister mit den Worten "bei ihrem Becken, werden sie
sowieso gleich schwanger" in die Hand. Bis heute versuchen Ärzt:innen, ihr die
Hormonspirale aufzuschwatzen und verweigern ihr eine Sterilisation.

</p>

</blockquote>
<blockquote>
<p>

<em>Alexandra*</em>, 27, kinderlos und schon immer ohne Kinderwunsch: Mit 19 erkrankte
sie an hochaktiver Multipler Sklerose und wurde zuletzt mit Chemotherapeutika
behandelt. Eine Schwangerschaft könnte zu einem schwerst eingeschränkten Kind
führen und sie selbst noch kranker, im schlimmsten Fall pflegebedürftig machen.
Dennoch sei das laut mehreren Ärzt:innen kein Grund, keinen Kinderwunsch zu
haben. Eine Sterilisation wurde auch ihr bis heute verweigert.

</p>
</blockquote>

<blockquote>
<p>

<em>Melanie*</em>, 29, kinderlos, schon immer ohne Kinderwunsch: Sie ist bereits seit
elf (!) Jahren in ganz Deutschland auf der Suche nach einem*r Ärzt:in, der*die
sie sterilisiert. Eine Ärztin sagte zu ihr: „dann gehen Sie halt nach
Tschechien und lassen das unsteril bei einem Hinterhof-Metzger machen. Ein
guter Deutscher Arzt macht das nie bei Ihnen, wenn sie keine Kinder haben! Sie
ändern ihre Meinung sowieso und bereuen es!“

</p>
</blockquote>

<blockquote>

<p>

Etwas ähnliches musste sich auch <em>Clara*</em>, 25, kinderlos, schon immer ohne
Kinderwunsch, anhören: Seit über 7 Jahren auf der Suche nach einer
Sterilisation. Ihre gesundheitlichen und psychischen Probleme wurden nie ernst
genommen. Ein Arzt meinte zu ihr: „Der Kinderwunsch kommt, wenn man schwanger
ist. Lassen Sie sich erstmal schwängern.

</p>
</blockquote>

<blockquote>
<p>

<em>Layla*</em>, 22, kinderlos, schon immer ohne Kinderwunsch: leidet an verschiedenen
Krankheiten und nimmt seit acht Jahren die Pille. Seit Beginn der Einnahme hat
sie Nebenwirkungen wie extreme Gewichtszunahme (über 60 kg), übermäßige
Schweißproduktion und Depressionen. Seit vier Jahren nimmt sie die Pille durch,
da ihre Menstruation so stark war, dass ihr HB-Wert unter sieben gefallen ist und
sie Eisenpräparate schlecht verträgt. Sie wollte ihren Wunsch nach einer
Hysterektomie (ganze oder teilweise Gebärmutterentfernung) oder einer
Endometriumablation (Ausschabung der Gebärmutter, um die Blutungen stark zu
reduzieren) als medizinische Indikation bei ihrem Gynäkologen ansprechen und
begann, dass sie ein – für ihr Alter ungewöhnliches Anliegen hätte. Ihr Arzt
dachte zunächst, dass sie schwanger werden wolle. Als sie ihm von ihren
Beschwerden erzählte und erklärte, dass sie keinerlei Kinderwunsch hätte,
antwortete er ihr, dass er ihr eine Überweisung fertig machen würde … in die
Psychiatrie. Sie sagte ihm, dass sie bereits seit Jahren in Behandlung sei,
doch er hörte ihr nicht zu. Niemand würde die OP durchführen, bevor sie 45 sei
und da sie die Pille doch vertrage, sehe er ihr Problem nicht. Er hätte auch 5
kg zugenommen und würde keine Hormone nehmen.

</p>
</blockquote>

<blockquote>
<p>

<em>Katrin*</em>, Alter unbekannt, kinderlos: verhütete jahrelang mit verschiedenen
Hormonen und entwickelte starke Depressionen. Zusätzlich hat sie seit ihrem 14.
Lebensjahr Zysten und deshalb „massive Schmerzen und extreme Blutungen, sodass
(…) [sie] ohne Schmerzmittel nicht klarkomme.“ Da ihre Schmerzen ca. zwei
Wochen anhalten, wollte sie sich auf Endometriose testen, sich sterilisieren
und dabei eine Endometriumablation durchführen lassen. Anstatt sich ihrer
Beschwerden anzunehmen, wurde ihr „Homöopathie empfohlen mit dem Zusatz, wenn
ich wieder gesund bin, will ich auch wieder Kinder … Als ‚kranker‘ Mensch hat
man halt keine Selbstbestimmung mehr.“ Sie berichtet, dass besonders der letzte
Satz sie ziemlich fertig gemacht hätte und sie angefangen habe zu denken, dass
sie „krank und nicht normal“ sei, weil sie keinen Kinderwunsch hat.

</p>
</blockquote>

<blockquote>
<p>

<em>Sandra*</em>, Alter unbekannt, sterilisiert: Als sie für ihren neuen Nebenjob ein
ärztliches Attest brauchte, dass sie physisch und psychisch gesund genug für
die Pflege sei, meinte ihr Hausarzt, dass er nicht glaube, dass sie psychisch
stabil sei. Auf ihre Nachfrage antwortete er, dass sie erst im Vorjahr
sterilisiert wurde und er deshalb an ihrer psychischen Verfassung zweifle.

</p>
</blockquote>

<blockquote>
<p>

<em>Luisa*</em>, Alter unbekannt: Sie war bereits bei zahlreichen Ärzt:innen
und musste sich viele verschiedene grenzüberschreitende Aussagen anhören. Die
schlimmste war: „Sterilisieren lassen sich nur Leute (gemeint: Menschen mit
Uterus), die zu blöd sind zu, verhüten.“ Unter ihrem Beitrag kommentieren
zahlreiche andere Menschen mit Uterus, die von ähnlichen grenzüberschreitenden
Aussagen von Ärzt:innen berichten:  „Sie wollen keine Kinder? Dann sind Sie
auch keine Frau!“.  Auch im persönlichen Umfeld kamen Aussagen wie: „Wenn du
nicht schwanger werden willst, dann halt gefälligst die Beine zusammen“, „dann
kannst du ja total rumvögeln“, oder „Frauen, die sich sterilisieren lassen
wollen doch nur ohne Reue rumvögeln.“ Dies zeigt deutlich die misogyne Art, mit der
Frauen ihre Sexualität abgesprochen wird. Sie dürfen nicht
„herumvögeln“, sondern sollen „ihrem“ Mann zu Diensten sein und möglichst viele
Kinder bekommen.

</p>
</blockquote>

<p>

Menschen mit Uterus werden in unserer Gesellschaft auf ihre
Reproduktionsfähigkeit reduziert. Eine Frau muss Kinder haben (wollen), sonst
ist sie keine „richtige“, keine „vollständige Frau“ – oder einfach ein
schlechter egoistischer Mensch. Nichts fürchtet das Patriarchat mehr, als
Frauen, die ihre Gebärfähigkeit kontrollieren und diese gar verweigern. „Wer
zahlt dann deine Rente?“, „Wer kümmert sich um dich?“, „Was ist, wenn dein
Partner Kinder möchte?“, „Du bist zu jung, um das zu wissen“, „Wenn der
Richtige kommt, willst auch du Kinder“. Die Seite „Selbstbestimmt Steril“ hat
die häufigsten unangebrachten Bemerkungen zur Sterilisation in einem „Bullshit
Bingo“ gesammelt:

</p>

<style>
.bingo {
  border-radius: 1em;
  background-color: #7a001f;
  color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  height: 5;
  font-family: sans;

}
@media only screen and (max-width: 992px) {
	.bingo {
				font-size: 0.65rem !important;
	}
}
</style>
<ul class="collapsible">
	<li class="active">
	  <div id="bullshitbingo" class="collapsible-header">
		  Bullshitbingo
	  </div>
	  <div class="collapsible-body">
	<div class="row">
		<div class="col s12 m2 offset-m1">
			<div class="bingo z-depth-1">
Sobald der Richtige kommt, wirst du den Wunsch schon noch verspüren.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Du bist ja nur karrieregeil. Geld kann kein Kinderlachen ersetzen.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Deine Karriere kommt dich im Altersheim aber nicht besuchen.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Ein Hund/eine Katze kann aber die Liebe eines Kindes nicht ersetzen!
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Ach, wirst du dann so eine verrückte Katzenlady?
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m2 offset-m1">
			<div class="bingo z-depth-1">
Ohne Kinder wird man den Sinn des Lebens niemals begreifen!
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Nachwuchs ist der Sinn des Lebens!
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Warst du deswegen schon beim Psychologen?
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Was machst du nach der Sterilisation, wenn eins deiner Kinder stirbt?
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Was ist denn in deiner Kindheit schiefgelaufen, dass du so denkst?
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m2 offset-m1">
			<div class="bingo z-depth-1">
Anscheinend bist du in deiner Situation mit deinem Mann einfach zu glücklich.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Weihnachten wird erst mit Kindern so richtig schön.
			</div>
		</div>
		<div class="col s12 m2 center hide-on-small-only">
			<img class="responsive-img"
			alt="Das Bild zeigt eine Zeichnung eines Uterus"
			src="/media/blog/img/verhuetung-uterus.png">
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Und was machst du, wenn dein Traummann Kinder möchte?
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Wieso lässt dein Mann/Freund keine Vasektomie machen?
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m2 offset-m1">
			<div class="bingo z-depth-1">
Die Welt geht zugrunde, weil kluge Menschen wie du keine Kinder bekommen.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Und was willst du dann mit deinem Leben anfangen?
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Und was willst du der Gesellschaft zurückgeben?
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Es gibt Frauen, die würden alles dafür geben, fruchtbar zu sein.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Das versteh ich gar nicht - so viele Frauen wünschen sich Kinder.
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col s12 m2 offset-m1">
			<div class="bingo z-depth-1">
Kinder machen dich zu einem besseren Menschen.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Seitdem ich Kinder habe, weiß ich, was wahre Liebe ist.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Erst durch ein Kind erkennt man, was echte Liebe ist.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Ach, Männer brauchen halt immer etwas länger beim Kinderwunsch.
			</div>
		</div>
		<div class="col s12 m2">
			<div class="bingo z-depth-1">
Einzelkind? Der muss doch lernen zu teilen!
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			Quelle: <a target="_blank"
					   href="https://selbstbestimmt-steril.de/allerlei/bullshit-bingo-generator/">Selbstbestimmt-Steril.de</a>.
		</div>
	</div>

	  </div>
	</li>
</ul>


<p>

Diese Aussagen sind alle grenzüberschreitend. Nur die Person mit Uterus
entscheidet, ob sie schwanger werden/sein/bleiben möchte – oder nicht. Bei
einigen ist der nicht vorhandene Kinderwunsch krankheitsbedingt, bei anderen
liegt es an erlebten Traumata, bei den meisten ist es aber schlicht und einfach
keine Lust auf Kinder. Kaum bekannt ist die Tokophobie: die Angst vor
Schwangerschaft. Einige Menschen mit Uterus machen manisch
Schwangerschaftstest, manche haben vor lauter Angst, schwanger zu werden, keinen
Spaß mehr am Sex. Fruchtbarkeit kann eine enorme psychische Belastung
darstellen. Immer wieder lesen sich ähnliche Formulierungen. Die Betroffenen
wollen nicht, dass „etwas“ oder „es“ in ihnen heranwächst. Alles, was mit
Schwangerschaften zu tun hat – selbst im Fernsehen oder in Büchern – ist als
etwas negatives oder ekliges konnotiert. Umso wichtiger ist es, Menschen mit
Uterus endlich Selbstbestimmung zu ermöglichen! My body, my rules, my choice!

</p>

<h3 id="bevormundung">Ärztliche Bevormundung und Grenzüberschreitungen</h3>

<p>

Unabhängig der Verhütungsmethode scheinen besonders Gynäkolog:innen besonders
unsensibel und grenzüberschreitend mit ihren Patient:innen umzugehen. Dabei
gehören gynäkologische Untersuchungen und Beschwerden zu den psychisch
belastendsten und potenziell triggerndsten Situationen im medizinischen
Bereich. Schnell können Traumata wieder hochkommen – oder neue entstehen. Das
Entblößen vor Fremden, das Eindringen mit Instrumenten und Fingern, ist stets
eine empfindliche Situation, die grenzüberschreitend, schmerzhaft und psychisch
belastend sein kann. Hierfür braucht es sensible Ärzt:innen, die Verständnis
und Empathie aufbringen, stets erklären, was sie machen und alles vorher(!)
abklären. Ohne Absprache und Einwilligung handelt es sich um
grenzüberschreitendes Verhalten! Doch dies scheint Vielen nicht bewusst zu
sein. Für die Ärzt:innen ist es Alltag und die Routine lässt sie scheinbar den
Konsens oft vergessen. Andere nehmen sich Dinge heraus, die die Privatsphäre
ihrer Patient:innen überschreiten, bevormundend und in keinster Weise
angemessen sind.

</p>

<blockquote>
<p>

<em>Jessica*</em> ließ sich mit Anfang 20 das Implanon (Verhütungsstäbchen) setzen, das
sie auch gut vertrug. Nach einem Umzug musste sie aufgrund einer Zyste zu
einem neuen Gynäkologen. Als dieser hörte, dass sie das Implanon benutze,
brauste dieser auf und beschimpfte sie lautstark: "Wie kann man auch nur so
dumm sein damit zu verhüten? Kein Wunder, dass Sie Zysten haben! Das haben Sie
jetzt davon." Anschließend versuchte er erfolglos, die Zyste zu zerdrücken.
Jessica beschrieb den Vorgang wie folgt: „Um es zu veranschaulichen: Stell dir
vor du bist eine Handpuppe. Eine Hand von innen und dann mit der anderen von
außen gegen den Körper gedrückt. Angenehm ist anders.“

</p>
</blockquote>

<blockquote>
<p>

<em>Clara*</em>, hatte mit der Pille verhütet, wollte jedoch aus praktischen und
finanziellen Gründen eine längerfristige Verhütung: das Hormonstäbchen
(Wirkung: drei Jahre).  Der Arzt erzählte ihr, dass es in Deutschland zu dem
Zeitpunkt eine(!) Frau gegeben hätte, bei der das Stäbchen gewandert wäre und
zum Zeitpunkt der geplanten Entfernung nicht mehr aufzufinden war. Die
Restwirkzeit wäre dann noch mal bis zu zwei Jahre gewesen. Da sie 20 war, hätte
das Stäbchen also laut Plan bis 23 gehalten, im schlimmsten Fall bis 25.
Aussage des Arztes: "Ich habe keine Lust, dass es dann in MEINER Verantwortung
liegt, wenn Sie nicht sofort mit 23 schwanger werden können. Und DASS sie bis
dahin schwanger werden wollen - wenn nicht sogar vorher schon - GARANTIERE ich
Ihnen!" Daraufhin verschrieb er ihr weiterhin die Pille, obwohl sie diese
explizit nicht wollte.

</p>
</blockquote>

<blockquote>

<p>

<em>Mira*</em>, Alter unbekannt: setzte die Pille ab und wollte sich die Kupferkette
einsetzen lassen. Ihr Arzt machte sie so fertig, dass sie 40 Minuten lang im
Sprechzimmer weinte. Die Kupfersysteme wären „furchtbar“ und sie solle
„gefälligst“ weiterhin die Pille nehmen. Solange sie Vegetarierin sei und
deshalb „offensichtlich“ nicht auf ihren Körper achte (sonst würde sie ja
Fleisch essen) würde er ihr auf keinen Fall eine Hormonspirale legen. Außerdem
hätte er sie „schlauer eingeschätzt“. Auf ihre Einwände, dass sie überhaupt nicht
die Hormonspirale, sondern die Kupferkette wolle und ihre Werte „trotz“
vegetarischer Ernährung top seien, ging er nicht ein. Stattdessen verschrieb er
ihr – gegen ihren Willen – wieder die Pille.

</p>

</blockquote>

<blockquote>
<p>

<em>Anna*</em>: ihr wurde mit 14 - obwohl mehrmals betont wurde, dass kein Interesse an
sexuellen Aktivitäten besteht - die Pille gegen Schmerzen verschrieben. Da es
alle Mädchen in ihrem Alter als Beweis der "Weiblichkeit" und Trendprodukt für
große Brüste seit Beginn der Menstruation nahmen, habe sie zusätzlich einen
gesellschaftlichen Druck empfunden, da sich teilweise sogar über menstruierende
Personen, die keine Pille nahmen, lustig gemacht wurde.  Nach Schmerzen im
Unterleib wurde sie von ihrer Gynäkologin ohne weitere ausführende Erklärungen
auf die Entbindungsstation des Krankenhauses überwiesen. Dort wurde bei einer
Untersuchung mit zwei Ärztinnen und einem jungen Arzt, der sich vorher schon in
Anwesenheit ihrer Mutter sexistisch über sie äußerte, gefragt: „Ist sie noch
Jungfrau?“. Als dies bestätigt wurde, meinte eine Ärztin „Naja, okay. Dann eben
anal.“ und ihr wurde - ohne Vorwarnung -  ein Ultraschallstab rektal
eingeführt. Dabei wurden bei vorhergehenden gynäkologischen Untersuchungen
schon vaginale Einführungen durchgeführt, wonach aber nicht gefragt wurde (Anm.
der Autorin: laut meinem früheren Gynäkologen dürfe dies erst nach dem ersten
Geschlechtsverkehr geschehen).

</p>

<p>

Nachdem sie ohne Befund entlassen wurde, hatte sie mehrere Nächte Weinkrämpfe.
Menschen, denen sie sich anvertraute und vor denen sie sich entblößte, hatten
ihr Vertrauen missbraucht und sie physisch (das Einführen war durch die
fehlende Vorwarnung besonders schmerzhaft) und psychisch verletzt.

</p>

<p>

Mit 15 oder Anfang 16 Jahren wollte sie die Pille absetzen, weil sie schon
damals glaubte, negative Auswirkungen auf Psyche und Physiologie zu merken und
die Anzahl depressiver Zeiträume und somit auch die Angst davor zunahm. Doch
die Gynäkologin fragte nur, ob sie einen Freund habe. Das hatte sie zu diesem
Zeitpunkt. Allerdings hatten beide beschlossen, erstmal noch nicht sexuell aktiv
zu werden. Außerdem kannten sie sich „bestens mit Kondomen aus“. Die Ärztin
meinte daraufhin, dass sie ihr: “nicht erlauben“ würde, die Pille abzusetzen,
„denn das geht schneller als du denkst und das kannst du gar nicht so steuern“.
Annas* Sorgen bezüglich der Pille nahm sie nicht ernst. Stattdessen sprach sie
ihr jegliche Mündigkeit ab. Auf Fragen, ob es Alternativen zur hormonellen
Verhütung bzw. eine Schmerzbehandlung ohne Pille gäbe, bekam sie keine
Auskunft.

</p>
</blockquote>

<h3 id="transfeindlichkeit">Transfeindlichkeit</h3>

<p>

Gerade für trans Männer kann der Besuch beim „Frauenarzt“ belastend sein. Nicht
nur andere Patient:innen, auch medizinische Angestellte und Ärzt:innen stellen
grenzüberschreitende, belastende oder persönliche Fragen oder verhalten sich
diskriminierend. Ein sensibler Umgang wäre wichtig und notwendig, doch zu tief
stecken cis-binäre Geschlechtsvorstellungen und Transfeindlichkeit in den
Köpfen fest. Oft ist es nicht Böswilligkeit, sondern schlicht
Unsicherheiten oder fehlendes Wissen, wie mit trans oder nicht binären
Patient:innen umzugehen ist. Dementsprechend wichtig wären Kurse und
Fortbildungen, aber auch allgemeine gesellschaftliche Aufklärung.  Erst seit
2017 können Behandlungen wie Mammografien unabhängig vom behördlichen
Geschlechtseintrag bei der Krankenkasse abgerechnet werden und erst seit Juli
2019 lassen sich die <a target="_blank" href="https://taz.de/Vorurteile-gegen-trans-Maenner/!5700062/">Behandlungen von trans und inter Personen normal über die
Krankenkasse abrechnen.</a>

</p>

<h3 id="implant-files">Implant Files</h3>

<p>

Schmerzen und Probleme von Menschen mit Uterus werden kleingeredet oder
ignoriert. „Hab dich nicht so“ heißt es meistens. „Die Menstruation tut halt
weh!“ Dadurch werden Krankheiten wie Endometriose häufig nicht oder erst sehr
spät erkannt. Teils werden sie gar als psychische Probleme abgetan, anstatt
z.B. auf Endometriose zu untersuchen. Es wird „jetzt reißen Sie sich mal zusammen“
gesagt, anstatt zu verstehen, dass manche Geburten deutlich mehr weh tun als
andere. Dieses misogyne Verhalten führt dazu, dass viele Schmerzpatient:innen
einen jahrelangen Leidensweg durchmachen müssen, bis ihre Krankheiten erkannt
werden – wenn sie denn überhaupt erkannt werden.

</p>

<p>

Ein erschreckendes Beispiel für die Misogynie im Gesundheitssystem ist der
Anstoß zur Recherche zu den sog. Implant Files. Hierbei handelt es sich um eine
große Recherche über fehlerhafte, gefährliche und chronische Schmerzen
verursachende Implantate, die von Journalistin Jet Schouten mit einem Implantat
aus einem Mandarinennetz angestoßen wurde. Schouten hörte von einer Zuschauerin
ihrer Sendung, dass diese seit der Implantation eines Vaginalnetzes starke
Schmerzen hatte. Obwohl sie den Arzt anflehte das, Netz wieder zu entfernen,
soll er geantwortet haben: "Nein, Sie müssen warten. Die Schmerzen sind normal.
In einigen Wochen nehmen wir es heraus." Dies sei jedoch nicht geschehen, da es
verwachsen war und fest steckte. Schouten rief daraufhin bei der
niederländischen Gesundheitsbehörde an und fragte, ob Probleme mit diesem
Implantat bekannt seinen. Diese verneinte. Nachdem die Journalistin in ihrer
Sendung darüber berichtete, meldeten sich zahlreiche weitere Personen mit
Uterus bei ihr, die von ähnlichen Problemen berichteten. Einigen sei durch die
Sendung erst klar geworden, dass sie ein Vaginalnetz in sich tragen.
Gynäkolog:innen hätten ihnen nichts von einem Implantat, sondern nur von einer
neueren, besseren und schnelleren Methode als einer klassischen Operation
erzählt. Zuerst konnte oder wollte niemand das Netz der Anruferin herausnehmen. Am
Ende fand sich ein Spezialist in Los Angeles, der es für 20.000$ entfernte.
Selbst nach der Operation leidet die Frau noch immer unter Schmerzen.  Der Fall
der Zuschauerin inspirierte Schouten zu einem Test: sie imitierte ein
fehlerhaftes Vaginalnetz aus einem Mandarinennetz, dessen Form von der auf dem
Markt üblichen abwich. Dennoch erhielt sie drei Andeutungen, dass einer
Zulassung nichts im Wege stehen würde. Es gab sogar Verhandlungen über den
Preis und Gespräche darüber, welche Tests besser ausgelassen werden sollten, um
die Zulassung zu beschleunigen. „Das ist eine Business-to-Business-Beziehung“,
meint die Journalistin im <a target="_blank" href="https://www.sueddeutsche.de/politik/implantate-implant-files-jet-schouten-interview-1.4223900">Interview mit der SZ</a>.

</p>

<p>

Ihr Mandarinennetz-Test stieß die Implant Files Diskussion an, in Folge derer
z.B. Brustimplantate aus billigem Industriesilikon, Herzschrittmacher, die
unkontrollierte Stromschläge auslösen und Prothesen, die sich im Körper
zersetzen aufgedeckt wurden. Darunter auch eine Spirale zur Dauerverhütung von
Bayer, die Essure, die massivste Komplikationen hervorrief.

</p>

<h3 id="essure">Essure</h3>

<div>
	{% include blog-media.html file="/media/blog/img/verhuetung-essure-1.png"
	fillm="30%"
	noshadow=true
	desc="Essure in Uterus" %}
</div>

<p>

Bei der Essure handelt es sich um eine Spirale zur Dauerverhütung, die seit
2001 in je beide Eileiter eingeführt wird. Sie dehnt sich aus und löst eine
Entzündung aus, die eine Vernarbung zur Folge hat. Diese verschließt die
Eileiter und versperrt dadurch den Weg zur Befruchtung. Das Material der Essure
hatte bereits vorher zu Komplikationen geführt. Außerdem meinte eine
Verbrauchervertreterin: von permanenter Sterilisation zu sprechen, obwohl man
nur wisse, dass das Produkt für eine überschaubare Zeit sehr gut funktioniert
habe, sei „ein wenig riskant“. Dennoch wurde das Produkt vermarktet. Dies zog
massive Komplikationen mit sich.

</p>

<p>

„Michelle Garcia, die auch öffentlich gegen Essure kämpft, sagt, sie wäre
beinahe verblutet, weil eine ihrer Spiralen einen Eileiter verletzte. Sie ließ
sich daraufhin beide Essure-Spiralen entfernen - die Probleme gingen weiter.
‚Ich habe am Donnerstag erfahren, dass mehrere Metallteilchen in meine
Bauchfellhöhle gewandert sind‘, schreibt sie in der Facebook-Gruppe. Außerdem
habe sich übermäßig viel Narbengewebe gebildet, das ihr nicht endende
Unterleibsschmerzen verursache. Es bedürfe wohl mehrerer Operationen, um das
Gewebe und die Metallfragmente zu entfernen.
Am meisten leide sie aber unter der Posttraumatischen Belastungsstörung, einer Folge der Verletzung.“
<a target="_blank"
	href="https://projekte.sueddeutsche.de/implantfiles/politik/implant-files-die-probleme-mit-essure-e389369/">
- SZ </a>

</p>

<div>
	{% include blog-media.html file="/media/blog/img/verhuetung-essure-2.png"
	fillm="50%"
	fills="70%"
	noshadow=true
	desc="Essure in Uterus, verwachsen" %}
</div>

<p>

Mehr
als 40.000 Menschen mit Uterus sammelten sich allein in dieser Facebook-Gruppe
zu Essure-Problemen. Die Nebenwirkungen, von denen die Betroffenen berichteten,
waren u.a. <a target="_blank" href="https://www.sueddeutsche.de/politik/protokolle-von-betroffenen-jeden-tag-schmerzen-traenen-wut-angst-1.4222182">extremer Haarausfall, Schmerzen, Blutungen, Hautausschlägen,
Wanderungen der Spirale oder Metallsplittern durch den Körper, Zahnausfall,
Entzündungen, chronische Müdigkeit</a>. Teils waren sogar Gebärmutterentfernungen
nötig. Auch von Autoimmunerkrankungen wurde berichtet. So hatten die
Betroffenen teils keine Kontrolle mehr über Kauen und Schlucken. Auch
Schwangerschaften mit Fehl- und Totgeburten, teils mit Todesfolge standen im
Zusammenhang mit der Essure. Trotz allen Berichten von schwersten
Nebenwirkungen und Komplikationen wurde sie erst 2017 in Europa vom Markt
genommen. „Die Entscheidung stehe aber in keinerlei Zusammenhang mit
Sicherheits- oder Qualitätsmängeln, heißt es.“ von Seiten des Herstellers. Doch
auch danach wurde sie von einigen Gynäkolog:innen weiterhin eingesetzt. Erst
seit 31. Dezember 2018 wird die Essure nicht mehr verkauft.
<a target="_blank" href="https://projekte.sueddeutsche.de/implantfiles/politik/implant-files-die-probleme-mit-essure-e389369/?reduced=true">Bis heute gibt es
weder ein Eingeständnis des früheren Herstellers Conceptus noch von Bayer (seit
2013)</a>.

</p>

<h3 id="wir">Wir sind nicht allein</h3>

<p>

Anstatt dem Wunsch der Patient:innen nachzukommen und die gewünschte Verhütung
zu legen oder zu entfernen, entscheiden und bevormunden Ärzt:innen leider zu
häufig.  Teils werden Falschinformationen weitergegeben oder nur mangelhaft
aufgeklärt. Den wenigsten Personen ist wohl bewusst, dass sie die Pille
bedenkenlos durchnehmen können und so Blutungen und Schmerzen vermeiden. Die
Pillenpause wurde nur eingeführt, da Männer damals dachten, dass sich Frauen
ohne ihre Menstruation nicht mehr als wahre Frauen fühlen würden. Vielen –
inklusive mir – hätte diese Information viele viele Schmerzen und
Eisentabletten erspart. Gynäkolog:innen müssen besser aufklären, sensibler im
Umgang mit ihren Patient:innen werden und lernen, ihre Wünsche zu akzeptieren
und ihre Beschwerden, Schmerzen und Sorgen ernst zu nehmen. Menschen mit Uterus
müssen endlich wie mündige Menschen behandelt werden, die sich durchaus über
die Folgen ihrer Handlungen und ihren Körper bewusst sind. Beschwerden dürfen
nicht einfach als psychosomatisch oder „nicht so schlimm“ abgetan werden. „Die
Menstruation tut halt weh“ ist kein Argument. Es unterstellt, dass Menschen mit
Uterus sich nicht so anstellen sollen. Doch Personen menstruieren
unterschiedlich stark, jede fühlt Schmerzen anders und Endometriose ist weit
verbreitet! Das Nichternstnehmen von Problemen gipfelt in Extrema wie dem Fall
der Essure-Verhütung.

</p>

<p>

Verhütung ist oft mit Schmerzen und Nebenwirkungen verbunden. Beispielsweise
ist das Legen der Spirale und der Kupferkette mit starken Schmerzen
verbunden - manche lassen den Eingriff unter (Voll-)Narkose durchführen. Doch
anstatt weiter zu forschen und besonders Menschen mit Penis adäquate Verhütung
ohne (das ziemlich unsichere) Kondom zu ermöglichen, ruht sich die Wissenschaft
auf dem Erreichten aus. Es wird kaum geforscht, Erfindungen, wie z.B. <a
target="_blank" href="https://www.infranken.de/ratgeber/gesundheit/samenleiterventil-mit-schalter-sieht-so-die-zukuenftige-verhuetungsmethode-fuer-den-mann-aus-art-5008089">ein
Schalter im Penis, der nur bei einem Kinderwunsch umgelegt wird, erhalten keine
finanzielle Unterstützung</a>. Zu gut läuft das rentable Geschäft mit der
Pille.

</p>

<p>

Es muss sich viel verändern! Auch Menschen mit Penis muss Verhütung ermöglicht
und Menschen mit Uterus Schmerzen, Nebenwirkungen und schlechte Behandlung
erspart werden. Gegenseitiges Empowern in Safer Spaces und geschlossenen
Gruppen ist nicht genug. Wissenschaft, Ärzt:innen und die Gesellschaft müssen
sich ändern, weiterforschen und Lösungen bieten! Denn jeder Fall von
Grenzüberschreitung ist einer zu viel!

</p>

<p>

* alle Namen wurden von der Autorin geändert. Zahlreiche Namen sind der Autorin
bekannt, manche Erlebnisse wurden anonym zugeschickt.

</p>
