---
layout: blog
categories: blog
tags: moria flüchtlingskrise eu
title: "Moria? Gibt es gar nicht"
date: '2020-04-19'
media:
- file: /media/blog/img/moria.jpg
satellites:
- file: /media/blog/img/moria-2007-06-13.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 13.06.2007."
  id: "m-13062007"
- file: /media/blog/img/moria-2015-10-02.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 02.10.2015."
  id: "m-02102015"
- file: /media/blog/img/moria-2015-10-29.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 29.10.2015."
  id: "m-29102015"
- file: /media/blog/img/moria-2015-11-02.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 02.11.2015."
  id: "m-02112015"
- file: /media/blog/img/moria-2016-06-03.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 03.06.2016."
  id: "m-03062016"
- file: /media/blog/img/moria-2017-04-29.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 29.04.2017."
  id: "m-29042017"
- file: /media/blog/img/moria-2017-05-26.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 26.05.2017."
  id: "m-26052017"
- file: /media/blog/img/moria-2018-01-31.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 31.01.2018."
  id: "m-31012018"
- file: /media/blog/img/moria-2018-04-05.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 05.04.2018."
  id: "m-05042018"
- file: /media/blog/img/moria-2018-06-07.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 07.06.2018."
  id: "m-07062018"
- file: /media/blog/img/moria-2019-04-02.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 02.04.2019."
  id: "m-02042019"
- file: /media/blog/img/moria-2019-10-24.jpg
  desc: "Google Earth Aufnahme des Moria-Camps vom 24.10.2019."
  id: "m-24102019"
teaser: "Beim ziellosen Stöbern durch Google Earth sind wir über eine
  \ Unregelmäßigkeit gestolpert: Wo auf Lesbos eigentlich das Flüchlingscamp
  \ Moria sein sollte, findet sich lediglich eine verpixelte Fläche. Diese
  \ Entdeckung war der Anstoß einer Recherche auf Grundlage von
  \ Satellitenbildern zur historischen und aktuellen Situation im überfüllten
  \ Flüchtlingscamp Moria."
---

<p><em>
Beim ziellosen Stöbern durch Google Earth sind wir über eine Unregelmäßigkeit
gestolpert: Wo auf Lesbos eigentlich das Flüchlingscamp Moria sein sollte,
findet sich lediglich eine verpixelte Fläche. Diese Entdeckung war der Anstoß
einer Recherche auf Grundlage von Satellitenbildern zur historischen und
aktuellen Situation im überfüllten Flüchtlingscamp Moria.
</em></p>


<div>
	{% include blog-media.html file="/media/blog/img/moria-censored.jpg"
	fillm="50%"
	desc="Google Earth Aufnahme des zensierten Moria-Camps" %}
</div>

<p>

Wer in diesen Tagen einen Blick auf Lesbos wirft und dazu Google Maps oder
Google Earth verwendet, bekommt ein verpixeltes Fleckchen Land zu sehen. In der Mitte
dieses Pixelhaufens erklärt eine Angabe, dass es sich um das Flüchtlingscamp
bei Moria handelt. Es wird versteckt, was nicht sein darf. Unter diesen 12 x 8
Meter großen, bunten Rechtecken befinden sich aktuell circa 20.000 Menschen,
welche nach einer durch Flucht geprägten Vergangenheit endlich die Ufer
Europas erreicht haben. Länder wie Deutschland oder Luxemburg begannen vor
wenigen Tagen mit der Aufnahme. Deutschland beschränkt sich vorerst auf 50
unbegleitete Kinder.
<a href="https://www.focus.de/politik/ausland/fluechtlingskrise-mitten-in-der-krise-schickt-erdogan-erneut-fluechtlinge-an-die-grenze_id_11719786.html">
Insgesamt sollen 1.600 Menschen auf EU-Staaten verteilt werden</a>. Dennoch verschärft sich die Situation im Camp Tag für Tag. Das
bevorstehende Handeln der EU ist langsam, kommt viel zu spät und wird die
Probleme nicht lösen.
</p>

<p>
Die Lage in den überfüllten Camps auf den griechischen Inseln ist schrecklich.
Warum wurden die Geflüchteten nicht viel früher und/oder von Griechenland
selbst besser verteilt? Der Grund hierfür liegt im
<a href="https://www.proasyl.de/thema/eu-tuerkei-deal/">
EU-Türkei-Deal</a>: „Alle, die
nach dem 20. März 2016 in Griechenland ankamen, dürfen gemäß dem Deal nicht
aufs Festland verbracht werden“. Griechenland nimmt das Leid der Menschen
in Kauf, um eine Abschiebung in die Türkei als Möglichkeit offen zu lassen.
Auch Corona und die damit verbundene Kenntnis über das Zusteuern auf eine noch
gravierendere Katastrophe sorgt nicht für ein Umdenken.
</p>

<p>
In der „Hölle von Moria“ kam es in der Vergangenheit zu vielen Aufständen,
Bränden und gewaltsamen Todesfällen – zu viele, um sie alle aufzuzählen. Wir
haben bereits im März von der Lage vor Ort berichtet:
<a href="/p/twitter/2020-03-18-1240367494587650048.html">
Aussetzung des Resettlement-Verfahrens aufgrund der Corona-Pandemie</a> &
<a href="/p/twitter/2020-03-21-1241487095920766978.html">
„Die Situation in Moria ist heftig“ - Lagebericht aus Lesbos</a>.
</p>

<h3>Analyse vorliegender Satellitendaten</h3>
<p>
Mit dieser Dokumentation wollen wir die Entwicklung des Flüchtlingscamps über
die letzten fünf Jahre festhalten. Unsere Analysen beruhen zu großen Teilen
auf Satellitenaufnahmen des Camps.
</p>

<div class="row">
	{% for satellite in page.satellites %}
	<div class="col s3">
		<img id="{{satellite.id}}" style="float: right;margin: 5px;
		 margin-top:0.75em;margin-bottom:0.75em;" src="{{ satellite.file }}"
		 class="z-depth-2 responsive-img materialboxed center"
		 data-caption="{{satellite.desc}}"
		 alt="{{satellite.desc}}"
		/>
	<p style="margin-top:0.75em;margin-bottom:0.75em;" class="center media-description">
	{{satellite.desc}}
	</p>
	</div>
	{% endfor %}
</div>

<p>
Ursprünglich als Militärbasis konzipiert, hat Moria
<a href="https://www.tagesschau.de/ausland/moria-lesbos-105.html">
eine Kapazität von 3.000 Personen</a>. Seit Ende 2015 wird die Basis als Flüchtlingslager genutzt.
Wo früher Militärfahrzeuge standen
(<a onclick="open_materialboxed('#m-13062007');" href="#!">siehe Aufn. vom 13.06.2007</a>), 
dokumentieren Satellitenaufnahmen vom Oktober 2015 die Errichtung neuer
Gebäude
(<a onclick="open_materialboxed('#m-02102015');" href="#!">siehe Aufn. vom 02.10.2015</a>).
Ab 29. Oktober entstehen innerhalb von
fünf Tagen 15 neue Gebäude
(<a onclick="open_materialboxed('#m-29102015');" href="#!">siehe Aufn. vom
	29.10.2015</a> & <a onclick="open_materialboxed('#m-02112015');"
						href="#!">02.11.2015</a>).
Bis Juni 2016 kommen nochmal über 50 Gebäude hinzu (<a
	onclick="open_materialboxed('#m-03062016');" href="#!">siehe Aufn. vom
	03.06.2016</a>). Eine Karte des UNHCR vom
Februar 2016 erklärt die Infrastruktur vor Ort. Das Camp scheint vorbereitet!
</p>

<p>
Seit Frühjahr 2016 dient Moria hauptsächlich als
<a href="https://de.wikipedia.org/wiki/Moria_(Lesbos)">
Abschiebezentrum zur Umsetzung des EU-Türkei-Deals</a>. Im April 2016 leben bereits
<a href="https://www.tagesschau.de/ausland/lesbos-157.html">
4.000 geflüchtete Menschen in Moria</a>. Als der griechische Migrationsminister in
diesem Monat das Camp besucht, kommt es zu Ausschreitungen; Steine fliegen.
</p>

<p>
Eigentlich ist ein Lager mit 133% Auslastung als überfüllt zu deklarieren. Das
heißt: keine weiteren Aufnahmen! Doch viel geringer wird diese Prozentzahl
erstmal nicht. Sie ist starker Fluktuation unterworfen: hin und wieder werden
besonders
<a href="https://www.tagesspiegel.de/themen/reportage/lesbos-die-traumainsel-wo-die-fluechtlingskrise-nicht-enden-will/25071464.html">
schutzbedürftige Geflüchtete ans Festland gebracht</a>, doch es gibt
stets mindestens genauso viele Neuankömmlinge: Ende 2019 wird von bis zu
<a href="http://evangelicalfocus.com/europe/4784/Lesbos_12000_quadruple_the_capacity_of_the_Moria_refugee_camp">
450 Menschen in nur einer Nacht berichtet</a>.
</p>

<p>
Nach der sogenannten Flüchtlingskrise 2015 hat sich die Lage im Jahr 2017
relativ beruhigt. Zum ersten Mal
<a href="https://www.theguardian.com/world/2017/dec/22/this-isnt-europe-life-greece-worst-refugee-camps">
fällt die Zahl der Menschen in Moria wieder
unter 6.000</a>. Auf Satellitenbildern vom April 2017 sind plötzlich weniger
(!) Gebäude zu zählen (<a onclick="open_materialboxed('#m-29042017');"
href="#!">siehe Aufn. vom 29.04.2017</a>). Einen Monat darauf stehen dort, wo vorher
eingeschossige Gebäude waren, zweistöckige, containerartige Gebäude
(<a onclick="open_materialboxed('#m-26052017');"
href="#!">siehe Aufn. vom 26.05.2017</a>). Bis
Januar 2018 kommen viele dieser mehrstöckigen Gebäude hinzu
(<a onclick="open_materialboxed('#m-31012018');" href="#!">siehe Aufn. vom
	31.01.2018</a>). Die
Camp-Betreiber bereiten sich auf weitere Ankömmlinge vor. Doch diese Maßnahmen
reichen nicht aus. Das bestehende Camp ist überfüllt und so etabliert sich
Anfang 2018 ein Baracken-Cluster auf der gegenüberliegenden Straßenseite,
nordöstlich des Camps. Dort befindet sich ein privater Olivenhain, welcher von
nun an mehr und mehr beansprucht wird (siehe Aufn.
<a onclick="open_materialboxed('#m-31012018');" href="#!">31.01.2018</a>,
<a onclick="open_materialboxed('#m-05042018');" href="#!">05.04.2018</a>,
<a onclick="open_materialboxed('#m-07062018');" href="#!">07.06.2018</a> und
<a onclick="open_materialboxed('#m-02042019');" href="#!">02.04.2019</a>).
</p>

<p>
Im Oktober 2019 leben
<a href="https://www.tagesspiegel.de/themen/reportage/lesbos-die-traumainsel-wo-die-fluechtlingskrise-nicht-enden-will/25071464.html">
13.000 Menschen in und um dem Camp</a>. Auf einem
letzten Satellitenbild vom Oktober 2019 umfasst die Größe des Olivenhain-Camps
41.397m². Das sind 75% des eigentlichen Camps
(<a onclick="open_materialboxed('#m-24102019');" href="#!">siehe Aufn. vom
	24.10.2019</a>).
<a href="https://www.tagesspiegel.de/themen/reportage/lesbos-die-traumainsel-wo-die-fluechtlingskrise-nicht-enden-will/25071464.html">
Zwei Menschen sterben in diesem Monat, als ein Feuer im Lager ausbricht</a>.
In den Baracken kann sich, wenn überhaupt, nur mäßig gegen den anstehenden
Winter geschützt werden. Nicht überall gibt es Strom, nicht überall ist es
trocken, vieles versinkt im Schlamm. Die hygienische Situation ist
katastrophal und im Lager herrscht Gewalt. So trauen sich Frauen nachts
<a href="https://avicenna-hilfswerk.de/moria-im-winter-2019/">
nicht mehr zur Toilette</a>. In diesem Winter befinden sich
<a href="https://www.zeit.de/2019/53/camp-moria-fluechtlingslager-lesbos-eu">
17.000 Menschen in Moria</a>. In Anbetracht der ursprünglichen Kapazität von 3.000 Personen ist dies
eine 567 prozentige Auslastung. Das Europa, welches diesen Menschen keinen
Eintritt gewährt, schickt Decken und Kissen.
</p>

<p>
Nach Überstehen der Kälteperiode hat sich die Situation nicht verbessert.
Januar 2020 befinden sich
<a href="https://www.theguardian.com/global-development/2020/jan/17/moria-is-a-hell-new-arrivals-describe-life-in-a-greek-refugee-camp">
19.000 Menschen, davon 40% Minderjährige, im Camp</a>. Im Februar
<a href="https://orf.at/stories/3153068/">
protestieren 2.000 Geflüchtete gegen die Zustände im Camp</a>
in der Inselhauptstadt. Die Polizei setzt Tränengas ein. Daraufhin formt
sich im März ein
<a href="https://www.n-tv.de/politik/Faschistischer-Mob-verjagt-Fluechtlingshelfer-article21617151.html">
faschistischer Mob, welcher Flüchtlinge, Helfer*innen und
Journalist*innen brutal attackiert</a>. Währenddessen rückt ein Thema immer
weiter in den Vordergrund: Corona. Die Menschen im Camp haben Angst, dass sich
das Virus dort ausbreitet. Die Versorgung jeglicher Art ist bereits jetzt
katastrophal. Auch Hygienemängel werden mit zunehmender Wasserknappheit
verstärkt. Es gibt keine Konzepte, alle sind auf sich alleine gestellt.
</p>

<div>
	{% include blog-media.html file="/media/blog/img/moria-2014.jpg"
	desc="Google Earth Standardansicht des Moria-Camps."
	fillm="50%" %}
</div>
<p>
Doch zurück zum Anfang: Moria? Gibt es nicht! Überzeugt euch selbst, indem ihr
<a href="https://goo.gl/maps/yPyr3uD7Dd7XsxZL9">diesen Google Maps Link</a> anklickt. Seit Oktober 2019,
wo 13.000 Menschen das Camp bewohnten, gibt es keine aktuelleren
Satellitenbilder, welche in dieser Auflösung öffentlich zugänglich sind. Heute
leben dort 20.0000 Menschen. Wie hat sich das Lager verändert? Wir wissen es
nicht. Statt dem neuesten Satellitenbild wird Usern eine Aufnahme von 2014 mit
nachträglicher Verpixelung angezeigt. Diese Art der Problemlösung erinnert
stark an das Vorgehen der EU: Moria? Wenn wir nicht hinsehen, ist es nicht
unser Problem!
</p>

<p>
Wir sagen: #LeaveNoOneBehind und #WirHabenPlatz! Evakuiert die Lager und
wartet keine Durchseuchung ab!
</p>
