---
layout: sub
title: Archiv
---
<div id="content" class="container posts">
	<h1>Beiträge des Jahres {{ page.date | date: "%Y" }}</h1>
	{% for post in page.posts %}
	{% if post.categories contains "twitter" %}
	{% include teaser.html %}
	{% elsif post.categories contains "document" %}
	{% include document.html %}
	{% elsif post.categories contains "linksunten" %}
	{% include linksunten-teaser.html %}
	{% elsif post.categories contains "blog" %}
	{% include blog-teaser.html %}
	{% endif %}
	<div class="divider"></div>
	{% endfor %}
</div>
